.chat__input-container {
  height: 8vh;
  background-color: #e5e5e5;
  padding: 0 5%;
  display: grid;
  align-items: center;
  grid-template-columns: 85% 15%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.chat__input {
  height: 85%;
}

.chat__input-btn {
  justify-self: end;
}
