.message {
  margin: 20px 0px;
}

.message .message__content {
  width: 60%;
  box-sizing: border-box;
  background-color: #e5e5e5;
  box-sizing: border-box;
  padding: 15px;
}

.message-right .message__content {
  margin-left: auto;
  border-radius: 10px 10px 0 10px;
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: max-content 35px;
}

.message-left {
  display: grid;
  grid-template-columns: 10% 90%;
}

.message__avatar {
  width: 90%;
  height: auto;
  border-radius: 50%;
}

.message-left .message__content {
  border-radius: 0 10px 10px 10px;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 95% 5%;
    grid-template-rows: max-content auto;
}

.message__content-text {
  grid-column: 1 / 3;
  font-size: 17px;
  color: #132127;
  margin: 0;
}

.message__content-date {
  color: #7b8a92;
    text-align: end;
    font-style: italic;
    align-self: end;
    font-size: 12px;
}

.message-right .message__content-btns {
  display: none;
}

.message-right:hover .message__content-btns {
  display: flex;
}

.message__content-btns {
  height: 20px;
  justify-content: flex-end;
  align-self: end;
}

.message__content-btns img {
  width: 15px;
  margin-left: 10px;
}

.message__content-btns img:hover {
  cursor: pointer;
}

.message__content-input {
  height: 30px;
  width: 95%;
  border: none;
  outline: none;
  background-color: #d6d6d6;
  border-radius: 10px;
}

.message__content-input:focus {
  outline: none;
  background-color: #d6d6d6;
}

.message__content-btn {
  height: 70%;
  width: 75%;
  border: none;
  align-self: center;
  border-radius: 5px;
  background-color: #4a6572;
  color: #e5e5e5;
}

.message__content-btn:hover {
  cursor: pointer;
  background-color: #344955;
}

.message__content-btn:focus {
  outline: none;
  background-color: #232f34;
}
